:root {
  --primary-color: #29a598;
  --text-color: #394c4a;
  --background-light: #d56cce;
  --header-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 110%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', Helvetica, sans-serif;
  color: #394c4a;
  line-height: 1.5;
  overflow-x: hidden;
}

.header-background {
  background: linear-gradient(rgba(250, 239, 116, 0.7), rgba(237, 243, 89, 0.9)), 
              url("https://i.imgur.com/TAn6FWz.jpg") center center fixed;
  background-size: cover;
  text-align: center;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(48, 21, 92, 0.5);
  padding: 17px,0;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:oblique; 
  text-decoration:brown;
}

nav ul li {
  display: inline;
  margin:  10px;
}

nav ul li a {
  color: rgb(26, 13, 70);
  text-decoration:double;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 8rem;
  text-decoration: solid;
}

.header-content img {
  max-width: 250px;
  border-radius: 50%;
}

.header-content h1, .header-content p {
  margin: 5rem 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;

}

#about {
  background-color: #59928d; 
  padding-left: 40px;
  padding-right: 40px;
  margin: 5px;
  border-radius: 0.2%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-decoration-color: #faefe8;
}

.profile-photo {
  max-width: 30%;
  height: auto; 
  border-radius: 50%; 
}

#portfolio {
  background-color: #51bde8; 
  padding: 20px;
  border-radius: 0.2%;
  text-align: center;
  margin-bottom: 10px;
}

.project {
  width: 200px;
  height: 200px;
  border:5px solid rgb(119, 27, 27);
  margin: 10px;
  display: inline-block;
  line-height: 200px;
}

#contact {
  background-color: #ba3e86; 
  padding: 15px;
  border-radius: 0.5%;
  text-align: center;
}

.td-btn {
  padding: 12px 36px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
   background-color: #6bd4d4; 

}



/* Additional Styles */
h2 {
  color: #081146;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif solid;
  font-size:larger;
}

a {
  color: #29a598;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #208479;
}

@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin: 10px 0;
  }

.profile-photo {
      width: 50%; 
      margin: 0 auto; 
  }
}